.main-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 4px;
  margin-top: 2.4rem;
  width: 200px;
  height: 200px;

  .tile {
    cursor: pointer;
    background-color: #141414;
    transition: background-color 0.2s;

    &:hover {
      background-color: #292929;
    }
  }
}
